
{% extends 'Main/Base.html' %}
{% load static %}
{% load i18n %}
{% block content %}




{% include "Main/RegularNavbar.html" %}



<title>{% trans "Egypt Fabrics" %}</title>


<body class="stretched" >

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix" >

<style>
	.bottommargin{
		text-transform: uppercase !important;
	}
	
</style>



<!-- Slider
============================================= -->
<section style="min-height:400px; height: 500px; !important;" id="slider" class="slider-element swiper_wrapper min-vh-40 min-vh-md-75" data-autoplay="9000" data-speed="800" data-loop="true" data-grab="false">

<div class="swiper-container swiper-parent">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="container">
	<div class="slider-caption" style="margin-top: -30px;">
		<div class="emphasis-title mb-0">
			<h2 style="margin-top: 100px !important;" class="bottommargin font-weight-bold" style="max-width: 600px; font-size: 70px; font-family: 'Montserrat'; line-height: 1; "> {% trans "Cotton Bath Towels" %}   </h2>

			<p class="lead topmargin-sm d-none d-md-block" style="max-width: 600px; font-family: 'Poppins';  color: black !important; font-size: 18px;"> {% trans "Add a touch of luxury to your bathroom . Our Towels are made from 100% Egyptian cotton, the towel has gone through a special combing process to achieve a super soft and absorbent pile.We guarntee a quality towel for the ultimate bath time experience." %}
			  
			 </p>
		</div>
	</div>
</div>
<div style=" margin-left: 5px; padding-top:100px !important;  margin-top: 70px !important;  " class="slide-number font-primary"></div>



<div class="swiper-slide-bg" style="background: #FFF url('{% static "Main/img/Cotton Bath Towels Home.jpg"%}') no-repeat center right; background-size: auto 115%"></div> 
</div>
<div class="swiper-slide">
<div class="container">
	<div class="slider-caption" style="margin-top: -30px;">
		<div class="emphasis-title mb-0">
			<h2 style="margin-top: 90px !important;" class="bottommargin font-weight-bold" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1; "> {% trans "The Oxford pillow case" %}  </h2>

			<p class="lead topmargin-sm d-none d-md-block" style="max-width: 600px; font-family: 'Poppins';  color: black !important; font-size: 18px;"> 
							{% trans "The Oxford pillow cases set is the Fancy version of the standard pillow case, and is made with an additional fabric border which surrounds all four edges of the standard case.Spoil yourself and order yours now.100% Sateen Cotton 400TC." %}
											 </p>
		</div>
	</div>
</div>
<div  style=" margin-left: 5px;padding-top:100px !important;  margin-top: 70px !important;  " class="slide-number font-primary"></div>  
<div class="swiper-slide-bg" style="background: #FFF url('{% static "Main/img/PercaleHome.jpg"%}') no-repeat center right; background-size:  auto 107%"></div>
</div>
<div class="swiper-slide">
<div class="container">
	<div class="slider-caption" style="margin-top: -30px;">
		<div class="emphasis-title mb-0">
			<h2 h2 style="margin-top: 50px !important;" class="bottommargin font-weight-bold" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1;margin-top:40px !important ">{% trans "Percale Sheets" %} </h2>

			<p class="lead topmargin-sm d-none d-md-block" style="max-width: 600px; font-family: 'Poppins'; color: #333; font-size: 18px;">  {% trans "Dreaming about sleeping on five-star hotel-quality sheets? Then you’re thinking about percale sheets 🛏️ Percale are smooth, luxurious & made of breathable 100 % cotton." %}
			  
 </p>
		</div>
	</div>
</div>
<div style=" margin-left: 5px; padding-top:100px !important;  margin-top: 70px !important;  " class="slide-number font-primary"></div>  
<div class="swiper-slide-bg" style="background: #FFF url('{% static "Main/img/sat.jpg"%}') no-repeat center right; background-size: auto 135%"></div>
</div>
<div class="swiper-slide">
<div class="container">
	<div class="slider-caption" style="margin-top: -30px;">
		<div class="emphasis-title mb-0">
			<br>
			<br>
			<h2 style="margin-top: 50px !important; padding-top: 30px;" class="bottommargin font-weight-bold" style="max-width: 600px; font-size: 75px; font-family: 'Montserrat'; line-height: 1;margin-top:40px !important "> {% trans "Sateen Fitted Sheet Set 400TC" %} 
			</h2>

			<p class="lead topmargin-sm d-none d-md-block" style="max-width: 600px; font-family: 'Poppins'; color: black !important; text-shadow: greenyellow; font-size: 16px;">

				{% trans "Sateen sheets are 100 percent cotton sheets with a high thread count and a lustrous sheen. They are woven from combed, carded, or long-fiber cotton threads that are then mercerized, meaning they’re soaked in lye and then in acid. This process not only strengthens the cotton fibers and makes them more durable, but also gives sateen sheets their signature  sheen and helps them accept dye evenly. " %}


			</p>
		</div>
	</div>
</div>
<div style=" margin-left: 5px; padding-top:100px !important;  margin-top: 70px !important;  " class="slide-number font-primary"></div>
<br>
<div class="swiper-slide-bg" style="background: #FFF url('{%static "Main/img/du.jpg"%}' ) no-repeat center right; background-size: auto 98%"></div>
</div>
<div class="swiper-slide">
<div class="container">
	<div class="slider-caption" style="margin-top: -30px;">
		<div class="emphasis-title mb-0">
			<br>
			<br>
			<br>
			<h2 style="margin-top: 50px !important;" class="bottommargin font-weight-bold" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1;margin-top:40px !important ">{% trans "Classic Cotton Duvet Cover 500TC" %} 
				 </h2>

			<p class="lead topmargin-sm d-none d-md-block" style="max-width: 600px; font-family: 'Poppins'; color: black; font-size: 16px;">
			  {% trans "A duvet cover is a protective layer that slips over the duvet and has a closure. Because duvets can be expensive and difficult to clean, duvet covers are useful because they protect your duvet or quilt during use and are easily removed and easy to wash." %}

		 </p>
		</div>
	</div>
</div>
<div style=" margin-left: 5px; padding-top:100px !important;  margin-top: 80px !important;   " class="slide-number font-primary"></div> 
<div class="swiper-slide-bg" style="background: #FFF url('{%static "Main/img/mu.jpg"%}') no-repeat center right; background-size: auto 120%"></div>
</div>


</div>

<div class="slider-arrow-left" style=" top: 460px !important;  "><i class="icon-line-arrow-left"></i></div>
<div class="slider-arrow-right" style="top: 460px !important;  "><i class="icon-line-arrow-right"></i></div>
</div>

</section><!-- #Slider End -->

<!-- Content
============================================= -->
<section id="content">
<div class="content-wrap py-0">

<div class="section mt-0"  style="padding: 100px 0;">
<div class="container">

  

<div class="row grid-item">
	<div class="col-md-2 grid-image">
		<img src="{{Towel.image.url}}" style="min-width: 150px; min-height:170px;" alt="{{Towel.title}}">
	</div>
	<div class="col-md-2">
		<div class="grid-info clearfix">
			<h3><a href="{{Towel.get_absolute_url}}">{{Towel.title}}<span >{% trans "100% Egyptian Cotton " %}  </span></a></h3>
		
			<a href="{{Towel.get_absolute_url}}" class="more-link clearfix"> {% trans "Shop Now" %} </a>
		</div>
	</div>

	

	<div class="col-md-2 grid-image">
		<img src="{{Towel2.image.url}}" style="min-width: 150px; min-height:170px;" alt="{{Towel2.title}}">
	</div>
	<div class="col-md-2">
		<div class="grid-info clearfix">
			<h3><a href="{{Towel2.get_absolute_url}}">{{Towel2.title}}
				<span>{% trans "100% Egyptian Cotton " %}</span></a></h3>
			
				<a href="{{Towel2.get_absolute_url}}" class="more-link clearfix">{% trans "Shop Now" %} </a>
		</div>
	</div>

	<div class="col-md-2 grid-image">
		<img src="{{Towel3.image.url}}" style="min-width: 150px; min-height:170px;" alt="{{Towel3.title}}">
	</div>
	<div class="col-md-2">
		<div class="grid-info clearfix">
			<h3><a href="{{Towel3.get_absolute_url}}">{{Towel3.title}}<span>{% trans "100% Egyptian Cotton " %}</span></a></h3>
			<a href="{{Towel3.get_absolute_url}}" class="more-link clearfix">{% trans "Shop Now" %} </a>
		</div>
	</div>
</div>

</div>
</div>



<div class="container clearfix">

<div class="heading-block border-bottom-0 center">
<h3>{% trans "Popular Categories" %}</h3>
<hr>
</div>

<div class="row ecommerce-categories clearfix" style="padding: 20px 0 0;">
<div class="col-lg-7">
	<a href="{{Towel4.get_absolute_url}}" style="background: url('{{Towel4.image.url}}') no-repeat center center; background-size: cover;">
		<div class="vertical-middle dark center">
			<div class="heading-block m-0 border-0">
				<h3 class="text-capitalize font-secondary nott font-weight-medium">{{Towel4.title}}</h3>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-5">
	<a href="{{Towel5.get_absolute_url}}" style="background: url('{{Towel5.image.url}}') no-repeat center center; background-size: cover;">
		<div class="vertical-middle dark center">
			<div class="heading-block m-0 border-0">
				<h3 class="text-capitalize font-secondary nott font-weight-medium">{{Towel5.title}}</h3>
			</div>
		</div>
	</a>
</div>

<div class="col-lg-4">
	<a href="{{Towel6.get_absolute_url}}" style="background: url('{{Towel6.image.url}}') no-repeat center center; background-size: cover;">
		<div class="vertical-middle dark center">
			<div class="heading-block m-0 border-0">
				<h3 class="text-capitalize font-secondary nott font-weight-medium">{{Towel6.title}}</h3>
			</div>
		</div>
	</a>
</div>

{% for item  in Towel7  %}
  

<div class="col-lg-4">
	<a href="{{item.get_absolute_url}}" style="background: url('{{item.image.url}}') no-repeat center center; background-size: cover;">
		<div class="vertical-middle dark center">
			<div class="heading-block m-0 border-0">
				<h3 class="text-capitalize font-secondary nott font-weight-medium">{{item.title}}</h3>
			</div>
		</div>
	</a>
</div>

{% endfor %}


</div>
</div>

<br>
<div class="section clearfix"  style="padding: 80px 0;">
<div class="container clearfix">

<div class="heading-block border-bottom-0 center">

	<h3 >{% trans "Best Selling Products" %} </h3>
</div>


<div >
<div>
<div >
	<div >
		<div >

			<div >
				
			</div>
			<div >
				
			</div>
			<div >
				
			</div>
			<div >
			
			</div>
			<div>
			
			</div>
			<div >
				
			</div>

		</div>
	</div>
	<div >
		<div >
			<div >
				<div ></div>
				<h3></h3>
			</div>
			<div >
			
			</div>
			<div></div>
			<div >
				<p></p>
			</div>
			<div>
				<span></span>
				<div ></div>
			</div>
			<div ></div>
		</div>
	</div>
</div>
</div>
</div>

<div class="clear"></div>

<div class="row align-items-stretch bottommargin clearfix">
<div class="col-md-6" style="background: url('https://cdn.shopify.com/s/files/1/0015/5094/2267/products/Pure-White-Sateen-Duvet-Set_95aeb606-39fa-4744-b104-468d97065f89.jpg?v=1591705544') center 45% no-repeat; background-size: cover; padding: 0 0 500px;">
<div class="section-content topmargin-sm">
	<h3>{% trans "Pure White Sateen Duvet Set" %}</h3>
	<span class="font-primary" style="color: #325; background-color:;"> {% trans "100% Lyocell. Sateen-woven bed linen in lyocell has a pronounced luster, feels soft as silk and is pleasant to sleep in. The decorative embroidery makes the pattern and colors come alive" %}
	  
  </span>
	<a href="/Products/" class="more-link text-uppercase font-weight-medium" style="font-family: 'Montserrat';">
		{% trans "Go To Shop" %} <i class="icon-line-arrow-right"></i></a>
</div>
</div>
<div class="col-md-6" style="background: url('https://media.sheridan.com.au/catalog/product/cache/1/image/1200x/17f82f742ffe127f42dca9de82fb58b1/s/o/soft-sateen_400tc_sheetset_chambray_049_1.jpg?impolicy=original') center center no-repeat; background-size: cover; padding: 0 0 500px;">
<div class="section-content topmargin-sm">
	<h3>{% trans "Sateen Fitted Sheet Set 400TC" %}</h3>
	<span class="font-primary" style="color: #333 !important;">{% trans "Rest easy with this hemstitch solid color sheet set. Constructed with a cotton sateen weave, this 400 thread count set features a lustrous, lightweight feel. Choose from a variety of rich colors to complement a modern or cottage bedroom vibe." %}
	  
	 </span>
	<a href="/Products/" class="more-link text-uppercase font-weight-medium" style="font-family: 'Montserrat';">{% trans "Go To Shop" %}  <i class="icon-line-arrow-right"></i></a>
</div>
</div>
</div>
</div>
</div>




<footer >

<div class="container clearfix">

<!-- Footer Widgets
============================================= -->
<div class="footer-widgets-wrap clearfix"  style="padding: 60px 0 100px; margin-top:0;">

<div class="row">
<div class="col-lg-6 col-md-6">

	<div class="row clearfix">

	</div>

	<div class="clear"></div>

	<div class="line line-sm"></div>

	<div class="copy-link" ><a  href="mailto:sales@egyptfabrics.com"><i class="icon-envelope2"></i> sales@egyptfabrics.com</a> <span class="middot"> | </span> <a href="tel:+1-11-6541-6369"><i class="icon-headphones"></i> 01010063571</a> <span class="middot"> </div>

</div>

<div class="col-lg-5 offset-lg-1">
<br>
	<div class="widget">
		<h4 style="background-color: #333; color: white; padding: 20px;">{% trans "Connect Socially" %}</h4>

		<div class="bottommargin-sm clearfix" style="margin-left:40px !important;">
			<a  href="https://www.facebook.com/purecottonfabrics/" target="_blank" class="social-icon si-dark si-mini si-rounded si-facebook" title="Facebook">
				<i class="icon-facebook"></i>
				<i class="icon-facebook"></i>
			</a>

	
			<a href="https://www.instagram.com/purecottonfabrics/?fbclid=IwAR2YKlwE2XaG37MU70_QmifGbZP4GhKDlZxWxkNejOMHrSabRY06-fPhSbI"  target="_blank" class="social-icon si-dark si-mini si-rounded si-instagram" title="Instagram">
				<i class="icon-instagram"></i>
				<i class="icon-instagram"></i>
			</a>

	
		</div>
	</div>

	<div class="widget subscribe-widget mt-0 clearfix">
	
		<div class="widget-subscribe-form-result"></div>
		
	</div>

</div>
</div>

</div><!-- .footer-widgets-wrap end -->

</div>

</footer><!-- #footer end -->

<script>

// Topbar Hide
$('#top-bar').on('click','#close-bar',function(){
$(this).parents('#top-bar').slideUp(300);
$('body').css('padding-top',0);
})

jQuery(window).on( 'pluginCarouselReady', function(){
// Custom Carousel
$('.owl-carousel').owlCarousel({
items: 1,
dotsContainer: '#item-color-dots',
loop: true,
});
});
</script>
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-line-arrow-up"></div>

<!-- JavaScripts



============================================= -->



<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="{% static 'Main/javascript/3.5.1.js' %}"></script>



<script src="{% static 'Main/javascript/plugins.min.js' %}"></script>


<script src="{% static 'Main/javascript/functions.js' %}"></script>

<script>

// Topbar Hide
$('#top-bar').on('click','#close-bar',function(){
$(this).parents('#top-bar').slideUp(300);
$('body').css('padding-top',0);
})

jQuery(window).on( 'pluginCarouselReady', function(){
// Custom Carousel
$('.owl-carousel').owlCarousel({
items: 1,
dotsContainer: '#item-color-dots',
loop: true,
});
});
</script>


<script>

$(function() {

 

  $('.image').resizeToParent();

   

});

</script>

<style>

#msg {
  position: fixed;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 400px;
  top: -300px;
  left: 50%;
  margin-left: -200px;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}

#msg i {
  font-size: 20px;
  vertical-align: middle;
}

#msg span { font-size: 15px; }

#msg.showed {
  top: 50px;
  opacity: 1;
  filter: alpha(opacity=100);
}

@media (min-width: 1200px) {

#msg {
  width: 600px;
  margin-left: -300px;
}
}

@media (max-width: 479px) {

#msg {
  width: 300px;
  margin-left: -150px;
}
}
</style>
</body>
</html>





{% endblock  %}